<div class="example-container mat-elevation-z8">
    <h2>Add Product</h2>
    <div class="example-loading-shade"
          *ngIf="isLoadingResults">
      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div class="button-row">
      <a mat-flat-button color="primary" [routerLink]="['/products-list']"><mat-icon>list</mat-icon></a>
    </div>
    <mat-card class="example-card">
      <form [formGroup]="productForm" (ngSubmit)="onFormSubmit()">
        <mat-form-field class="example-full-width">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Name" formControlName="name"
                  [errorStateMatcher]="matcher">
          <mat-error>
            <span *ngIf="!productForm.get('name').valid && productForm.get('name').touched">Please enter Name</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Price</mat-label>
          <input matInput type="number" placeholder="Price" formControlName="price"
                  [errorStateMatcher]="matcher">
          <mat-error>
            <span *ngIf="!productForm.get('price').valid && productForm.get('price').touched">Please enter Price</span>
          </mat-error>
        </mat-form-field>
        
        <div class="button-row">
          <button type="submit" [disabled]="!productForm.valid" mat-flat-button color="primary"><mat-icon>save</mat-icon></button>
        </div>
      </form>
    </mat-card>
  </div>